body {
    margin: 0;
    padding: 0;
}

/* Center the content */
body, #bots-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for each bot card */
li {
    list-style-type: none;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 350px;
}

li h2 {
    font-size: 24px;
    margin-top: 0;
}

li img {
    border-radius: 50%;
}

li p {
    margin: 5px 0;
}

/* Center the bots list on larger screens */
@media screen and (min-width: 768px) {
    #bots-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    li {
        flex: 0 0 calc(33.33% - 20px);
    }
}
